button {
    margin-top: 30px;
    width: 66%;
}

.view-files {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.view-saved-temp-files {
    margin-top: 30px;
    padding: 0 10px;
}

image {
    margin: 0 auto;
}
video {
    margin: 0 auto;
}