button {
    width: 66%;
    margin-top: 30px;
}

.view-files {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.view-saved-local-files {
    margin-top: 30px;
    padding: 0 10px;
}

image {
    margin: 0 auto;
}
video {
    margin: 0 auto;
}